<!DOCTYPE html>
<html lang="vn">
<head>
    <title>WebRTSP</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/public/jsmpeg.min.js"></script>
    <script type="text/javascript" src="/public/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="is-centered columns m-0">
    <form action="/addStream" id="add-stream-form" method="POST">
        <label for="rtps">RTSP</label><input class="m-1" type="text" name="rtsp" id="rtps">
        <input type="submit">
    </form>
</div>

<div class="view">
    <% listSocket.forEach((socket) => { %>
        <div class="is-relative jsmpeg canvas-wrapper v<%= Math.ceil(Math.sqrt(camNum)) %>"
             data-url="<%= socket.replace(/:\/\/.+:/, `://${hostName}:`) %>">
            <div class="control-form">
                <button type="button" class="fill-display">
                    <span class="icon-text has-text-success">
                          <span>Switch view</span>
                    </span>
                </button>
                <form action="/clearStream" method="POST">
                    <label>
                        <input type="text" value="<%= socket %>" name="socket" class="is-hidden">
                    </label>
                    <button type="submit">
                        <span class="icon-text has-text-danger">
                              <span>stop</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    <% }) %>
</div>
</body>